// Fonts used in the project:
// 'Playfair Display', serif;
// 'Roboto', sans-serif;

// General styling next

body {
    font-family: 'Playfair Display', serif;
}

nav {
    font-size: 2.6rem;
    text-transform: uppercase;
    line-height: 29px;
    letter-spacing: 1px;
}

p,
.aside-ul,
input,
textarea,
.contact-info {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 32px;
}

.find-more {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    line-height: 32px;
}

// Header tags styling

h1,
h2,
h3,
h4 {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

h1 {
    font-size: 12rem;
    text-align: center;
    letter-spacing: 1px;
}

h2 {
    font-size: 8rem;
    line-height: 92px;
}

h3 {
    font-size: 4.2rem;
    letter-spacing: 1px;
}

h4 {
    font-size: 3.2rem;
    letter-spacing: 1px;
}

// Buttons styling

button {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 32px;
    letter-spacing: 1px;
}

@media(max-width: 980px) {
    h1 {
        font-size: 10rem;
        background-color: rgba(255,255,255,.7);
    }
}

@media(max-width: 720px) {
    h1 {
        font-size: 7rem;
    }

    h1,
    h2 {
        line-height: 50px;
        background-color: rgba(255,255,255,.7);
    }

    h2 {
        font-size: 6rem;
    }
    
    h3 {
        font-size: 3.2rem;
    }
    
    h4 {
        font-size: 2.2rem;
    }

    p {
        font-size: 1.8rem;
    }
}

@media(max-width: 440px) {
    h1,
    h2 {
        font-size: 4rem;
    }

    form input,
    form textarea {
        font-size: 1.5rem;
    }
}